* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 13px;
}

img {
        display:block;
        margin:0 auto;
        width:50%;
}

#POST-name {
        position:fixed;
        height:25px;
        width:450px;
        bottom:460px;
        left: 450px;
}

#button1 {
        position:fixed;
        bottom:410px;
        left:545px;
        width:10%;
}

#button2 {
        position:fixed;
        bottom: 410px;
        left: 675px;
}
