* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 13px;
}

img {
        display:block;
        margin:0 auto;
        width:50%;
}

#POST-name {
        position:fixed;
        height:35px;
        width:550px;
        bottom:450px;
        left: 400px;
}

#button1 {
        position:fixed;
        bottom:400px;
        left:550px;
        width:9%;
}

#button2 {
        position:fixed;
        bottom: 400px;
        left: 685px;
}

#button1, #button2 {
        background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
        color: #757575;
        padding: 10px 0;
        border-radius: 2px;
        border-style: none;
        font-size: 13px;
        font-weight: bold;
}

#button1:hover, #button2:hover {
        border: 1px solid gray;
        color: black;
}



